@font-face {
  font-family: 'Needleteeth Psycho';
  src: url('./fonts/Needleteeth-Psycho.woff') format('woff');
}


p { 
  padding: 7px;
  margin: 5px;
  width: 20px;
  height: 30px;
  line-height: 1;}

@font-face {
  font-family: 'bloddy';
  src: url('./fonts/BLOODY.woff') format('woff');
}

@font-face {
  font-family: 'FirecatMedium';
  src: url('./fonts/FirecatMedium.woff') format('woff');
}

@font-face {
  font-family: 'Headhunter-Regular';
  src: url('./fonts/Headhunter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'plasdrip';
  src: url('./fonts/plasdrip.woff') format('woff');
}

@font-face {
  font-family: 'plasdrpe';
  src: url('./fonts/plasdrpe.woff') format('woff');
}

h1 {
  font-family: "Needleteeth Psycho";
  font-size: 90px;

}

h4 {
  font-size: 20px;
  color: red;
}

body { 
  background-image: url(./images/spooky-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output_container {
  display: flex;
  height:150px;
  width: 1050px;
  background-color: azure;
  margin-bottom: 40px;

}

input {
  width: 1000px;
  height: 30px;
  background-color: azure;
  opacity: 70%;
  border: 0px solid black;
}

